/*
=============== 
Fonts
===============
*/
@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir-Medium-FD-WOL.ttf) format(ttf),
        url(../fonts/Vazir-Medium-FD-WOL.woff) format(woff),
        url(../fonts/Vazir-Medium-FD-WOL.woff2) format(woff2);
}
/*
=============== 
Variables
===============
*/
:root {
    --clr-primary-1: #0d1b2a;
    --clr-primary-2: #1b263b;
    --clr-primary-3: #415a77;
    --clr-grey-1: #102a42;
    --clr-grey-2: #617d98;
    --clr-grey-3: #9eb2c7;
    --clr-grey-4: #f1f5f8;
    --clr-white: #fff;
    --ff-primary: "vazir", sans-serif;
    --transition: all 0.3s linear;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

.btn {
    padding: 0.25rem 1rem;
    background-color: var(--clr-primary-2);
    color: var(--clr-white);
    display: inline-block;
    transition: var(--transition);
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--clr-grey-4);
    color: var(--clr-primary-1);
}
.section-center {
    width: 90vh;
    margin: 0 auto;
}
.section {
    padding: 0 1.5rem;
}
.section-title {
    text-align: center;
    background: var(--clr-grey-4);
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}
/* 
================
navbar
================
*/
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--clr-white);
    width: 100%;
    box-shadow: var(--dark-shadow);
    z-index: 3;
}
.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.nav-icons {
    display: none;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-header h3 {
    margin-bottom: 0;
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border: transparent;
    color: var(--clr-primary-2);
    cursor: pointer;
    transition: var(--transition);
}
.nav-toggle:hover {
    transform: scale(1.2);
}
.nav-link {
    display: block;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--clr-grey-1);
    transition: var(--transition);
}
.nav-link:hover {
    color: var(--clr-grey-1);
    background: var(--clr-primary-3);
    padding-right: 2.25rem;
}
.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    margin: 0 auto;
}
.show-links {
    height: 280px;
}
.nav-header a {
    color: var(--clr-primary-2);
}
.services-dropdown {
    display: none;
}
.nav-left-icons {
    display: none;
}
.nav-left-icons-m {
    font-size: 23px;
}
.nav-icons-left{
    display: flex;
    gap: 1rem;
}
.nav-left-icon:hover {
    color: var(--clr-grey-2);
}
.nav-left-icon-2:hover {
    color: var(--clr-grey-2);
}
.index-signup:hover >ul{
    display: block;
}
.index-signup >ul{
    display: none;
    position: absolute;
    background: var(--clr-white);
    font-size: 20px;
    padding: 1rem;
    border-radius: 5%;
}
.index-signup >ul >li {
    padding: 0.5rem 0;
}
.index-signup >ul >li>a:hover{
    color: var(--clr-primary-3);
}
@media (min-width: 992px) {
    .navbar {
        padding: 1rem 2rem;
    }
    .nav-toggle {
        display: none;
    }
    .navbar-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links {
        height: auto;
        display: flex;
    }
    .nav-icons {
        display: flex;
        flex-flow: column;
    }
    .nav-header {
        padding: 0 0;
    }
    .nav-link {
        padding: 0 0;
        margin-right: 0.75rem;
    }
    .nav-link:hover {
        padding-right: 0;
        color: var(--clr-primary-2);
        background: transparent;
        color: var(--clr-grey-2);
    }
    .services-dropdown .services-dropdown-2 {
        z-index: 3;
    }
    .services-dropdown {
        position: absolute;
        display: none;
    }
    .services-dropdown li {
        padding: 0.75rem;
    }
    .services-dropdown-items {
        margin-top: 1.25rem;
        background-color: var(--clr-white);
        color: var(--clr-primary-2);
        border: solid 1px #ddd;
        border-radius: 2.5%;
    }
    .services-dropdown-2 {
        display: none;
        position: absolute;
    }
    .sd-container:hover .services-dropdown {
        display: inline-block;
    }
    .sd-container-2:hover .services-dropdown-2 {
        display: inline-block;
    }
    .services-dropdown-items-2 {
        color: var(--clr-primary-2);
        background: var(--clr-white);
        color: var(--clr-grey-2);
        border: 1px solid #ddd;
        border-radius: 2.5%;
        margin-right: 0.75rem;
    }
    .nav-left-icons {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        font-size: 30px;
    }
    .nav-left-icon:hover {
        color: var(--clr-grey-2);
    }
    .nav-left-icon-2:hover {
        color: var(--clr-grey-2);
    }
    .nav-left-icons-m{
        display: none;
    }
    .section{
        padding: 0 0.5rem;
    }
}
/* 
================
header
================
*/
.header {
    margin-bottom: 2.5rem;
}
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(13, 27, 42), rgb(0, 0, 0, 0.2)),
        url(../images/hero.jpg) no-repeat center/cover;
    height: 50vh;
}
.hero a {
    color: var(--clr-white);
    transition: var(--transition);
}
.hero a:hover {
    transform: scale(1.1);
}
.hero-icon {
    font-size: 3rem;
}
.hero-text {
    font-size: 2rem;
}
@media (min-width: 992px) {
    .hero {
        height: 90vh;
    }
}

/* 
================
features
================
*/
.feature-img {
    height: 200px;
    margin-bottom: 1rem;
    object-fit: cover;
}
.feature-img-container {
    position: relative;
}
.feature-info h3 {
    padding-bottom: 0.5rem;
}
.feature-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-info-text {
    border-right: solid 1px black;
    padding: 0 1rem;
}
.btn-feature {
    align-items: center;
    justify-content: center;
}

.feature-article {
    margin-bottom: 1.5rem;
}
.feature-articles {
    display: grid;
}
@media (min-width: 992px) {
    .feature-articles {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}
/* 
================
about us
================
*/
.about-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
@media (min-width: 992px) {
    .about-section {
        grid-template-columns: 1fr 1fr;
    }
}
/* 
================
footer
================
*/
.footer {
    background: var(--clr-primary-1);
    margin-top: 1rem;   
}
.footer-icon {
    color: var(--clr-white);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.footer-icon a {
    color: var(--clr-white);
}
.footer-icon a:hover {
    color: var(--clr-primary-3);
}
.footer-icons {
    padding: 1rem 0;
}
.footer-links {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px var(--clr-white);
    padding-bottom: 2rem;
}
.footer-contacts {
    color: var(--clr-white);
}
.footer-contacts h4 {
    margin-bottom: 0.75rem;
}
.footer-rights {
    color: var(--clr-white);
    font-size: 0.5rem;
    text-align: center;
    padding: 2rem 0;
}
.footer-contacts a {
    color: var(--clr-white);
}
.footer-contacts a:hover {
    color: var(--clr-primary-3);
}

/* 
================
contact us page
================
*/
.contact-title {
    background: var(--clr-grey-4);
    padding: 1rem 0;
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding-right: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 992px) {
    .contact-title {
        width: 50%;
        margin-top: 100px;
        margin-right: 1rem;
    }
}
.contact-container {
    display: grid;
}
@media (min-width: 992px) {
    .contact-container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}
.contact-main-text {
    margin-bottom: 2rem;
    line-height: 1.75rem;
    font-size: 1.125rem;
    margin-right: 0.5rem;
}
@media (min-width: 992px) {
    .contact-main-text {
        margin-right: 1rem;
    }
}
.contact-info{
    margin-right: 0.5rem;
}

.contact-info p {
    margin-bottom: 1rem;
}
.contact-info i {
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

/* 
================
works page
================
*/
.hero-work {
    background: url(../images/image-1.jpg) center no-repeat;
    background-size: cover;
    height: 50vh;
    filter: brightness(70%) blur(5px);
    z-index: -1;
    position: relative;
}
.work-container {
    display: grid;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}
.work-hero-title {
    background: var(--clr-grey-4);
    opacity: 0.6;
    padding: 0.75rem;
    margin-bottom: 1rem;
    filter: brightness(70%);
}
.work-hero-text {
    color: var(--clr-white);
    text-align: start;
    margin-right: 1.5rem;
}
.work-hero-text p {
    margin-bottom: 0.5rem;
    font-weight: 800;
}
.section-title-work {
    margin-top: 3rem;
}
.work-gallary-container {
    display: grid;
}
@media (min-width: 992px) {
    .work-gallary-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .work-hero-title {
        width: 50%;
    }
    .section-title-work {
        width: 50%;
    }
}
.work-gallary {
    margin: 1rem;
}
.work-similar-container {
    padding: 0 1rem;
}

/* 
================
products page
================
*/
.product-hero {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    background: var(--clr-grey-4);
    padding: 7rem 0;
}
.section-p {
    margin-top: 2rem;
}
.search-product {
    margin-bottom: 1rem;
}
.search-product-input {
    padding: 0.5rem;
    background: var(--clr-grey-4);
    border: none;
}
.search-product-icon {
    padding: 0.5rem;
    border: none;
    background: var(--clr-grey-4);
}
.search-product-icon:hover {
    cursor: pointer;
}
.card-holder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
}
.card-product {
    max-width: 350px;
    background: var(--clr-grey-4);
    padding-bottom: 2rem;
    border: solid 1px #ddd;
    transition: var(--transition);
}
.card-product:hover {
    transform: scale(1.05);
}
.card-product-img {
    width: 349px;
    height: 250px;
    margin-bottom: 0.75rem;
}
.card-product-name {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 0 1rem;
}
.card-product-price-holder {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.card-product-price {
    color: var(--clr-primary-2);
}
/* if discount needed */
.card-product-price-dashed {
    text-decoration: line-through;
    display: none;
}
.card-btn {
    border: 1px solid #ddd;
    background: var(--clr-grey-3);
    display: inline-block;
    padding: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
    display: flex;
}
.page-changer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.page-changer ul li {
    background: var(--clr-grey-4);
    padding: 0.5rem;
    border: 1px solid #ddd;
}
.page-changer ul li:hover {
    background: var(--clr-grey-3);
}
@media (max-width: 992px){
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.25rem;
    }
    .card-product{
        max-width: 220px;
    }
    .card-product-img{
        width: 219px;
        height: 150px;
    }
    .search-product-input {
        width: 220px;
        padding: 1rem 0;
    }
    .search-product-icon {
        padding: 1rem ;
    }
    .card-product-name{
        font-size: 20px;
    }
    .card-product-price-dashed{
        display: none;
    }
}

/* 
================
single products page
================
*/
.s-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
}
.s-product-info {
    display: grid;
    align-content: space-between;
    gap: 3rem;
}
.s-product-img-cover {
    position: relative;
}
.change-pic-right {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: var(--clr-white);
}
.change-pic-left {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: var(--clr-white);
    left: 0;
}
.s-product-img-cover img {
    height: 500px;
}
.s-product-info-container {
    display: grid;
    gap: 2rem;
    align-content: space-between;
    background: var(--clr-grey-4);
    padding: 1rem;
}
.s-product-img-other-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}
.s-product-img-other {
    width: 250px;
    height: 150px;
}
.s-product-info-detail {
    max-width: 450px;
}
.s-product-info-footer {
    margin-bottom: 2rem;
    font-size: 20px;
}
.s-product-info-footer a {
    margin-top: 1rem;
}
.similar-product-title{
    margin-bottom: 2rem;
    background: var(--clr-grey-4);
    padding: 2rem;
}
@media (max-width: 992px) {
    .s-product-container{
        grid-template-columns: 1fr;
    }
    .s-product-img-cover img {
        width: calc(90vw + 0.75rem);
        height: 60vw;
    }
    .s-product-img-other-container{
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }
    .s-product-img-other-container img{
        width: 45vw;
        height: 25vw;
    }
    .change-pic-right , .change-pic-left {
        font-size: 35px;
    }
    .s-product-info-detail {
        max-width: 100%;
    }
}

/* 
================
shop cart page
================
*/
.shopcart-table-container{
    display: block;
    width: 100%;
    overflow-x: auto;
}
.shopcart-table th, td{
    border-bottom: 1px solid black;
    padding: 1rem;
}
.tbody-product-number button{
    padding: 0.5rem;
}
.tbody-product-number input{
    max-width: 4rem;
    padding: 0.5rem;
    margin: auto;
}
.tbody-product-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: rem;
    gap: 4rem;
    align-items: center;
}
.tbody-product-info img {
    width: 150px;
    height: 100px;
}
.shopcart-tfooter-container{
    display: grid;
    gap: 1rem;
}
.shopcart-tfooter{
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.shopcart-total-buy{
    font-size: 20px;
    font-weight: 700;
}
.shopcart-total-buy > ul{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
@media (min-width: 992px) {
    .shopcart-holder{
        display: grid;
        padding: 0 3rem;
        justify-content: center;
    }
}

/* 
================
successful and unsuccessful buy page
================
*/
.succ-buy{
    margin: 12rem 0;
}
.succ-buy h3 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.succ-buy i {
    font-size: 80px;
    color: green;
    justify-content: center;
    display: grid;
    margin-bottom: 2rem;
}

.unsucc-buy{
    margin: 12rem 0;
}
.unsucc-buy h3 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.unsucc-buy i {
    font-size: 80px;
    color: red;
    justify-content: center;
    display: grid;
    margin-bottom: 2rem;
}
/* 
================
sign up
================
*/
.sign-up-container{ 
    display: grid;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.sign-up{
    border: 1px solid var(--clr-grey-2);
    padding: 1rem;
    border-radius: 6%;
    box-shadow: var(--dark-shadow);
    background: var(--clr-grey-4);
}
.sign-form-title{
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    color: var(--clr-primary-3);
}
.sign-up-form > h4 {
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-bottom: var(--clr-grey-2) 1px solid;
}
.sign-up-form > form {
    display: grid;
    padding-right: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
}
.sign-input-element input {
    padding: 0.5rem;
    width: 75vw;
}
.btn-login{
    background-color: green;
}
.btn-signup {
    background-color: dodgerblue;
}
@media (min-width: 992px) {
    .sign-up-container{
        justify-content: center;
    }
    .sign-input-element input {
        width: 20vw;
    }
}